<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/topicPublish.css}">
</head>
<body>
<div id="div_topic_list">
    <div id="div_to_add">
        <form th:action="@{/topic.do}" method="post">
            <input type="hidden" name="operate" value="addTopic">
            <table>
                <tr>
                    <th w20>标题：</th>
                    <td>
                        <input id="input" type="text" name="topicTitle"/>
                    </td>
                </tr>

                <tr>
                    <th>内容：</th>
                    <td>
                        <textarea id="textarea" name="topicContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="发布日志" />
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
</body>
</html>