<?xml version="1.0" encoding="utf-8"?>
<beans>
    <bean id="fruit" class="com.atguigu.fruit.controllers.FruitController">
        <property name="fruitService"  ref="fruitService"></property>
    </bean>

    <bean id="fruitDAO" class="com.atguigu.fruit.dao.impl.FruitDAOImpl"></bean>

    <bean id="fruitService" class="com.atguigu.fruit.service.impl.FruitServiceImpl">
        <property name="fruitDAO" ref="fruitDAO"></property>
    </bean>
</beans>